version: '3.7'
services:
  redis:
    container_name: meminero-redis
    image: redis:6
    restart: always
    command: [ "redis-server", "--appendonly", "yes" ]
    ports:
      - 6379:6379
    volumes:
      - ${DIR}/redis:/data
    networks:
      infura:
        ipv4_address: 10.2.0.101

  postgres:
    container_name: meminero-postgres
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=meminero
      - POSTGRES_DB=meminero
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - ${DIR}/postgresql:/var/lib/postgresql/data
    networks:
      infura:
        ipv4_address: 10.2.0.102

  meminero:
    container_name: meminero
    build: "./"
    restart: always
    depends_on:
      - redis
      - postgres
    ports:
      - 0.0.0.0:9909:9909
    environment:
      - PG_PASSWORD=password
    volumes:
      - ${DIR}/meminero:/config
    networks:
      infura:
        ipv4_address: 10.2.0.103
    command:
      [
        "./meminero",
        "scrape",
        "queue",
        "--config",
        "/config/config.yml"
      ]


  internal-api:
    container_name: internal-api
    image: swingbylabs/internal-api
    restart: always
    depends_on:
      - postgres
    ports:
      - 0.0.0.0:3001:3001
      - 0.0.0.0:9910:9910
    volumes:
      - ${DIR}/internal-api:/config
    networks:
      infura:
        ipv4_address: 10.2.0.104
    command:
      [
        "./internal-api",
        "run",
        "--config",
        "/config/config.yml"
      ]

networks:
  infura:
    name: infura
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 10.2.0.0/24