version: '3.7'
services:
  redis:
    container_name: meminero-redis
    image: redis:6
    restart: always
    command: [ "redis-server", "--appendonly", "yes" ]
    ports:
      - 6379:6379
    volumes:
      - ${DIR}/redis:/data
  postgres:
    container_name: meminero-postgres
    image: postgres:13
    restart: always
    environment:
      - POSTGRES_USER=meminero
      - POSTGRES_DB=meminero
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - ${DIR}/postgresql:/var/lib/postgresql/data
  meminero:
    container_name: meminero
    build: "./"
    restart: always
    depends_on:
      - redis
      - postgres
    ports:
      - 0.0.0.0:9909:9909
    environment:
      - PG_PASSWORD=password
    volumes:
      - ${DIR}/meminero:/config
    command:
      [
        "./meminero",
        "scrape",
        "queue",
        "--config",
        "/config/config.yml"
      ]
  internal-api:
    container_name: internal-api
    image: swingbylabs/internal-api
    restart: always
    depends_on:
      - redis
      - postgres
    ports:
      - 0.0.0.0:3001:3001
    volumes:
      - ${DIR}/internal-api:/config
    command:
      [
        "./internal-api",
        "run",
        "--config",
        "/config/config.yml"
      ]
